/* 全局 */
/* 自定义字体 */
* {
    font-family: "TencentSans", serif;
}

.code * {
    font-family: "Hack", "Geist Mono", Courier, monospace !important;
}

/* transition（preloader除外） */
*:not(.letter, .odometer.odometer-auto-theme *, del.mask, .flex-col.items-start.px-2.py-2) {
    transition: all 0.3s ease !important;
}


/* preloader区域 */
.ml13 * {
    font-weight: bold !important;
    justify-content: center !important;
}


/* 滚动条 */
/* 隐藏滚动条 */
body::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 0px !important;
}

body, html {
    scrollbar-width: none;
}


/* 图片查看器 */
/* 调整按钮层级 */
.image-viewer-prev {
    z-index: 99;
}

/* 自定义背景图 */
/* 亮色模式 */
body.light-mode #swup {
    background-image: url('/assets/images/light4_greatwall2_blur_15px.png') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* 深色模式 */
body.dark-mode #swup {
    background-image: url('/assets/images/dark1_blur_15px.jpg') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* 右键菜单 */
#RMBMenu {
    z-index: 9999;
    background-color: var(--background-color);
    justify-content: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 10px !important;
    opacity: 0;
    transition: all 0.2s ease;
}


/* 历史上的今天 */
body.light-mode .ht-list-item {
    border-bottom: 1px solid #aaa;
}

body.dark-mode .ht-list-item {
    border-bottom: 1px solid #555;
}

.announcement-outside {
    flex-direction: column;
    overflow-y: scroll;
    overscroll-behavior: contain;
    max-height: 50vh;
    justify-content: flex-start !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.announcement-outside::-webkit-scrollbar {
    width: 0px;
}


/* 边缘渐隐 */
body.light-mode .up-down-edge-fade {
    -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0,
    white var(--up-down-edge-fade-region),
    white calc(100% - var(--up-down-edge-fade-region)),
    transparent 100%
    );
    mask-image: linear-gradient(
    to bottom,
    transparent 0,
    white var(--up-down-edge-fade-region),
    white calc(100% - var(--up-down-edge-fade-region)),
    transparent 100%
    );
}

body.dark-mode .up-down-edge-fade {
    -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0,
    black var(--up-down-edge-fade-region),
    black calc(100% - var(--up-down-edge-fade-region)),
    transparent 100%
    );
    mask-image: linear-gradient(
    to bottom,
    transparent 0,
    black var(--up-down-edge-fade-region),
    black calc(100% - var(--up-down-edge-fade-region)),
    transparent 100%
    );
}

body.light-mode .left-right-edge-fade {
    -webkit-mask-image: linear-gradient(
    to right,
    transparent 0,
    white var(--left-right-edge-fade-region),
    white calc(100% - var(--left-right-edge-fade-region)),
    transparent 100%
    );
    mask-image: linear-gradient(
    to right,
    transparent 0,
    white var(--left-right-edge-fade-region),
    white calc(100% - var(--left-right-edge-fade-region)),
    transparent 100%
    );
}

body.dark-mode .left-right-edge-fade {
    -webkit-mask-image: linear-gradient(
    to right,
    transparent 0,
    black var(--left-right-edge-fade-region),
    black calc(100% - var(--left-right-edge-fade-region)),
    transparent 100%
    );
    mask-image: linear-gradient(
    to right,
    transparent 0,
    black var(--left-right-edge-fade-region),
    black calc(100% - var(--left-right-edge-fade-region)),
    transparent 100%
    );
}

/* 百宝箱 */
.p-5 {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

/* APlayer歌词 */
.aplayer .aplayer-lrc p {
    font-size: 1.25rem !important;
}

/* notyf消息框 */
.notyf__toast.notyf__toast--upper {
    margin-top: 70px;
}

.notyf__wrapper {
    width: 300px;
}

/* CSS变量 */
:root {
    --up-down-edge-fade-region: 5rem;
    --left-right-edge-fade-region: 5rem;
}